{% extends 'layout.html' %}

{% block head %}
<h1></h1>
{% endblock head %}

{% block content %}
<div class="w3-light-grey">
  <br><br>
  <div class=" w3-opacity w3-center w3-padding-16">
    <h2>
      <a href="{{ url_for('studentUsers.viewModules')}}" class="custom-button">My Modules</a>
    </h2>
  </div>

  <div class=" w3-opacity w3-center w3-padding-16">
      <h2>
        <a href="{{ url_for('studentUsers.viewAllModules')}}" class="custom-button">View All Modules</a>
      </h2>
    </div>

  <div class=" w3-opacity w3-center w3-padding-16">
    <h2>
      <a href="{{ url_for('studentUsers.viewClasses')}}" class="custom-button">My classes
      </a>
    </h2>
  </div>

  <div class=" w3-opacity w3-center w3-padding-16">
    <h2>
      <a href="{{ url_for('studentUsers.submitBids')}}" class="custom-button">Submit Bidding</a>
    </h2>
  </div>

  <div class=" w3-opacity w3-center w3-padding-16">
    <h2>
      <a href="{{ url_for('studentUsers.viewBids')}}" class="custom-button">View Bidding</a>
    </h2>
  </div>
  <br>
  <br>
</div>
{% endblock content %}